element.style {
}

panel {
    display: block;
    width: 320px;
}

* {
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* font-family: inherit; */
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}
Inherited from body.pinstripe

body {
    font-family: Helvetica, Arial;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    margin: 0 auto;
    width: 320px;
}

* {
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* font-family: inherit; */
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}
Inherited from html

* {
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* font-family: inherit; */
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}
